# This workflow will download a prebuilt Ruby version, install dependencies and
# run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: CI

"on":
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: ["3.2", "3.3", "3.4", "4.0"]

    steps:
      - uses: actions/checkout@v6
      - name: Install non-ruby dependencies
        run: |
          # Ensure all packages can be found
          sudo apt-get update
          # Needed for gtk3 gem
          sudo apt-get install libgtk-3-dev
          # Prevent conflict with libunwind-dev, needed by libgstreamer1.0-dev
          sudo apt-get remove libunwind-14-dev
          # Needed for gstreamer gem
          sudo apt-get install libgstreamer1.0-dev
          # Needed to set up sound player pipeline
          sudo apt-get install gstreamer1.0-plugins-base
          sudo apt-get install gstreamer1.0-plugins-good
          sudo apt-get install gstreamer1.0-plugins-bad
          # Needed for GstAudio-1.0.typelib
          sudo apt-get install gir1.2-gst-plugins-base-1.0
          # Needed to play sound
          sudo apt-get install pulseaudio
          # Provides xvfb-run
          sudo apt-get install xvfb

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run unit tests
        run: xvfb-run bundle exec rake test:unit

  lint:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install non-ruby dependencies
        run: |
          # Ensure all packages can be found
          sudo apt-get update
          # Needed for gtk3 gem
          sudo apt-get install libgtk-3-dev
          # Prevent conflict with libunwind-dev, needed by libgstreamer1.0-dev
          sudo apt-get remove libunwind-14-dev
          # Needed for gstreamer gem
          sudo apt-get install libgstreamer1.0-dev
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Run RuboCop
        run: bundle exec rubocop -P
